:root {
	--lightred:#ef9292;
	--lightblue:#85e2fd;
	--translucentlightblue:rgb(190 233 243 / 85%);
	--lightgreen:#bff3be;
	--spearmint:#57f195;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0%;
}

.Navbar {
	overflow: hidden; 
	background-color: black; 
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	animation: slideFromRight 0.8s;
}

@keyframes slideFromRight {
	0% {
		right: -100vw;
	}
	100% {
		right: 0vw;
	}
}

.Navbar a {
	float: left;
	display: block;
	color: white; 
	padding: 14px 16px; 
	text-decoration: none; 
	font-family: Avant Garde, Helvetica; 
	font-size: 20px; 
	text-align: center;
}

.Navbar a:hover {
	background-color: #F4F4F4;
	color: black;
	font-weight: bold;
}

.Navbar a.active {
  background-color: darkgray;
}

#Typing_Video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	z-index: -1;
	filter: saturate(2.5);
}

#centered {
	text-align: center;
}

.Video_Text { 
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 20px;
	margin-top: 23%;
	position: relative;
	animation: slideFromLeft 0.8s;
}

@keyframes slideFromLeft {
	0% {
		left: -100vw;
	}
	100% {
		left: 0vw;
	}
}

* { 
	box-sizing: border-box;
}


/* /////////////////////
		Columns
///////////////////// */
.Column_1 {
	float: left;  
	width: 50%;
	padding: 10px; 
	padding-top: 3%;
	height: 400px;
	background-color: #fff;
	background: var(--translucentlightblue);
}

#git_column {
	padding-top: 14px;
}

.Column_2 {
	float: left;
	width: 50%;
	padding: 10px;
	height: 400px;
	background-color: #4d4d4d;
}

.Column_3 {
	float: left;
	width: 50%;
	padding: 10px;
	height: 450px;
	background-color: #4d4d4d;
}

.Column_4 {
	float: left;  
	width: 50%;
	padding: 10px;
	padding-top: 2%;
	height: 450px;
	background-color: #fff;
	background: var(--translucentlightblue);
}

.Row {
	position: relative;
}

.Row:after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	font-family: "Trebuchet MS", Optima; 
	text-align: center;
	margin-top: 3%;
	color: #1a1a1a;
}

h3 {
	font-family: "Trebuchet MS", Optima; 
	text-align: center;
	color: #1a1a1a;
}

p {
	font-family: Arial;
	text-align: justify;
	padding: 0px 20px;
	transition: scale(1.0);
}

center {
	font-family: Arial;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: blue;
}

q {
	font-style: italic;
	font-weight: bold;
}

img {
	filter: grayscale(40%);
    border-radius: 8px;
    max-width: 100%; 
    height: 100%; 
	margin: auto;
	display: block;
}

input[type=text], [type=tel], [type=email] {
	width: 100%;
	padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 13px;
    resize: vertical;
    font-family: Arial;
    opacity: 1.0;
}

input[type=submit] {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	font-family: Arial;
	opacity: 1.0;

	/*Hover off*/
	transition: transform 0.2s;
}

input[type=submit]:hover {
	background-color: white;
	color: black;
	font-weight: bold;
	transform: scale(1.15);
	transition: transform 0.2s;
	border: solid 1px black;
}

form {
	padding: 0% 10%;
	font-family: "Trebuchet MS", Optima;
}

#ctkt {
	margin-top: -2%;
}

center:hover {
    transition: transform 0.1s;
	transform: scale(1.01);
}

p:hover {	
    transition: transform 0.1s;
	transform: scale(1.01);
}

h1:hover {
	transition: transform 0.1s;
	transform: scale(1.01);
}

h3:hover {
	transition: transform 0.1s;
	transform: scale(1.01);
}

img:hover {
	filter: grayscale(5%);
    transition: transform 0.1s;
	transform: scale(1.01);
}


/* /////////////////////
		Fade-in FX
///////////////////// */
#hey {
	color: #fff;
	opacity: 1;
	transition: 2s .8s opacity;
}

#hey.fade-out {
	opacity: 0;
	transition: none;
}

#my_name {
	color: #fff;
	opacity: 1;
	transition: 2s .8s opacity;
}

#my_name.fade-out {
	opacity: 0;
	transition: none;
}

#welcome {
	color: #fff;
	opacity: 1;
	transition: 2s .8s opacity;
}

#welcome.fade-out {
	opacity: 0;
	transition: none;
}

#fadeIn1 {
	opacity: 1;
	transition: 2s .8s opacity;
}

#fadeIn1.fade-out {
	opacity: 0;
	transition: none;
}

#fadeIn2 {
	opacity: 1;
	transition: 2s .8s opacity;
}

#fadeIn2.fade-out {
	opacity: 0;
	transition: none;
}

#fadeIn3 {
	opacity: 1;
	transition: 2s .8s opacity;
}

#fadeIn3.fade-out {
	opacity: 0;
	transition: none;
}

#p_git.fade-out {
	opacity: 0;
	transition: none;
}


/* /////////////////////
		Pop-Up Form
///////////////////// */
.open-btn {
	position: relative;
	top: 8px;
	background-color: var(--lightred);
	color: #000;
	border-radius: 4px;
	padding: 16px 20px;
	cursor: pointer;
	width: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.open-btn:hover {
	background-color: var(--spearmint);
	color: #464646;
}

#popup_btn {
	font-size: 16px;
}

/* hidden */
#popup-background {
	position: relative;
	top: 20px;
	background-color: #7b7b7b;
	border-radius: 20px;
	height: 70px;
}

.hidden-btn-container {
	max-width: 100%;
	display: none;
}

#btn-columns {
	position: relative;
    top: 27px;
}

.hidden-btn-container .btn {
	background-color: var(--lightred);
	padding: 17px 20px;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	border-radius: 4px;
	color: #000;
}

.hidden-btn-container .btn:hover {
	background-color: var(--spearmint);
	color: #fff;
}

#message-when-open {
	position: relative;
	top: 21px;
	background-color: #fff;
	padding: 4px;
	margin: 0px 11px;
	border-radius: 20px;
}

#h1_git {
	margin-top: 1%;
	margin-block-end: 0%;
	padding: 6px 0px 3px;
}

.popup-Column_1 {
	float: left;  
	width: 50%;
	padding: 10px; 
	padding-top: 7px;
	height: 175px;
	opacity: 1.0;
	z-index: 2;
}

.popup-Column_2 {
	float: left;
	width: 50%;
	padding: 10px;
	padding-top: 7px;
	height: 175px;
	opacity: 1.0;
	z-index: 2;
}

#popup_p {
	color: #fff;
	float: left;
	position: relative;
	top: 5px;
	width: 100%;
	text-align: center;
	font-size: 13px;
	opacity: 1;
	transition: 2s opacity;
}

#popup_p.fade-out {
	opacity: 0;
	transition: none;
}

/* unhidden */
.unhidden-btn-container {
	max-width: 100%;
}

#message-when-closed {
	margin: 0px;
	background-color: #fff;
	padding: 4px;
	border-radius: 20px;
}


/* /////////////////////
		Footer
///////////////////// */
footer {
	padding: 2%;
	background-color:#bff3be;
}

.slight-pad {
	padding-top: 6px;
}


/* /////////////////////
		Lightning FX
///////////////////// */
.Blink {
	animation: blink 0.3s linear;
}

@keyframes blink {
	100% {
		opacity: 0;
	}
}

.lightning_1 {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 20vw;
	width: 100%;
	height: 100%;
	background: url("images/lightning1.png") no-repeat;
}

.lightning_2 {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 20vw;
	width: 100%;
	height: 100%;
	background: url("images/lightning2.png") no-repeat;
}

.lightning_3 {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 20vw;
	width: 100%;
	height: 100%;
	background: url("images/lightning3.png") no-repeat;
}